.idea/
checkpoints/
timitate/data/__pycache__/
timitate/lib/__pycache__/
TImitate.egg-info/
timitate/policies/__pycache__/
timitate/policies/full_trans.ckpt
timitate/trainers/__pycache__/
timitate/meta/__pycache__/
.DS_Store
timitate/__pycache__/
timitate/lib2/__pycache__/
timitate/bin2/__pycache__/
timitate/utils/__pycache__/
timitate/lib3/__pycache__/
__pycache__
timitate/bin4/example.dat
timitate/bin5/example.dat
timitate/bin6/example.dat

tmp_*
